/source/TableListSample/TableListSample.Droid/bin/Debug
/source/TableListSample/TableListSample.Droid/obj/Debug
/source/TableListSample/TableListSample/bin/Debug
/source/packages

/source/TableListSample/TableListSample/obj/Debug
/source/TableListSample/TableListSample.iOS/obj/iPhone/Debug
